################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BBShop/FileContentIndex/36b2b8d5-e16b-4a9b-b609-0eceee000fcd.vsidx
/.vs/BBShop/FileContentIndex/57e1d820-61a0-4f30-aec5-5eb33237de95.vsidx
/.vs/BBShop/FileContentIndex/e49bc4ee-dbcd-4f88-89d2-334f9e708171.vsidx
/.vs/BBShop/FileContentIndex/fa9e40d6-4028-4b05-8f60-f93fae004a5b.vsidx
