################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BBShop/FileContentIndex/36b2b8d5-e16b-4a9b-b609-0eceee000fcd.vsidx
/.vs/BBShop/FileContentIndex/57e1d820-61a0-4f30-aec5-5eb33237de95.vsidx
/.vs/BBShop/FileContentIndex/e49bc4ee-dbcd-4f88-89d2-334f9e708171.vsidx
/.vs/BBShop/FileContentIndex/fa9e40d6-4028-4b05-8f60-f93fae004a5b.vsidx
/.vs/BBShop/FileContentIndex/0acd6f62-6fdf-4857-a122-e5f563b14b39.vsidx
/.vs/BBShop/FileContentIndex/59e79584-9c91-4261-8dbb-cea4626d710d.vsidx
/.vs/BBShop/FileContentIndex/7cc4a02a-891b-4e20-8d1a-050c38344f95.vsidx
/.vs/BBShop/FileContentIndex/834ec9af-57b0-4d97-b84c-29dbe1e38140.vsidx
